.main_chat
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__member-list
        Members: 
        -@group.users.each do |user|
          =user.name
    .main-header__right-box
      = link_to "Edit", edit_group_path(@group), class: "link"   
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'new-message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'input-box' do
          = icon('fas', 'image', class: 'input-box__image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'


    -# .upper-message__user-name
    -#   = message.user.name